:root {
    --main-color: #004D40;
    --border-color-left: #6fb0a9;
    --border-color-right: #CFCFCF;
    --icon-color: #00695C;
    --background-color-right: white;
    --background-color-left: #80CBC4;
    --text-color: #004D40;
    --text-color-light: #616161;
}


@media only screen and (min-width: 1200px) {
    /* desktop */
    .ui.grid.container.cv {
        width: 1190px !important;
    }

    .container {
        flex-flow: row-reverse !important;
        padding-left: 47px;
        padding-top: 0.8% !important;
    }

    .subtitle_text {
        padding-left: 0 !important;
    }

    .description_education {
        padding-left: 21px !important;
    }

    .name_section {
        margin-top: 115px !important;
    }

    .description_education h1, .description_experience h1 {
        font-size: 21px;
    }

}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    /* tablet */
    .ui.grid.container.cv {
        width: auto !important;
    }

    .container {
        flex-flow: row-reverse !important;
        padding-left: 47px;
        padding-top: 0.8% !important;
    }

    .subtitle_text {
        padding-left: 0 !important;
    }

    .description_education {
        padding-left: 21px !important;
    }

    .name_section {
        margin-top: 115px !important;
    }

    .description_education h1, .description_experience h1 {
        font-size: 21px;
    }
}

@media only screen and (max-width: 767px) {
    /* mobile phone */
    .container {
        margin: 0 1em 2.5em !important;
        padding-top: 0 !important;
    }

    .ui.grid.container.cv {
        width: auto !important;
        margin: 0 !important;
    }

    .ui.grid {
        display: block !important;
    }

    .left_side_panel {
        width: auto !important;
    }

    .right_side_panel {
        width: auto !important;
    }

    .picture_section {
        display: none !important;
    }

    .hobbies_footer {
        position: inherit !important;
        width: auto !important;
    }

    .firstname {
        line-height: normal !important;
    }

    .name_section {
        margin-top: 60px !important;
    }

    .ui.grid > [class*="five wide"].column.date_education, .ui.grid > [class*="five wide"].column.date_experience {
        display: block !important;
        width: 100% !important;
        padding-bottom: 0 !important;
    }

    .ui.grid > [class*="ten wide"].column.description_education, .ui.grid > [class*="ten wide"].column.description_experience {
        width: 100% !important;
        padding-top: 0 !important;
    }

    br:not(.contact_br) {
        display: none;
    }

    .contact_section {
        text-align: center;
    }

    div.title_section {
        margin-bottom: 60px;
    }

    .subtitle_text {
        font-size: 1.6em !important;
    }

    .subtitle_icon {
        font-size: 35px !important;
    }

    .description_education h1, .description_experience h1 {
        font-size: 16px;
    }

    .date {
        font-size: 14px !important;
    }
}

@media only screen and (max-width: 714px) {
    .subtitle_text {
        padding-left: 38px !important;
        line-height: 1em !important;
    }

    .subtitle_text.xp {
        padding-top: 10px !important;
    }

    .ui.grid > [class*="eight wide"].column.info_recommandation, .ui.grid > [class*="seven wide"].column.info_recommandation {
        width: 100% !important;
        text-align: center;
    }
}


body {
    background: #0e0e0e !important;
}

.container {
    padding-bottom: 70px;
    position: relative;
}

a {
    color: var(--text-color) !important;
}

a:hover {
    color: var(--icon-color) !important;
}


/* Left side */
.left_side_panel {
    background-color: var(--background-color-left);
    width: 32.5%;
    padding: 0 !important;
    border-top: 2px solid var(--border-color-left);
    border-bottom: 2px solid var(--border-color-left);
    border-left: 2px solid var(--border-color-left);
}

.header_section {
    background-color: var(--main-color);
    height: 48px;
    color: var(--background-color-left);
    text-transform: uppercase;
    padding: 1.5%;
}

.h2 {
    text-align: center;
    font-family: Humanist, Arial, sans-serif !important;
    font-size: 28px !important;
    font-weight: 200;
}

.picture_section {
    justify-content: center;
    display: flex;
}

#picture_CV {
    border: 4px solid var(--border-color-left);
    border-radius: 110px;
    margin: 60px 0 36px;
    height: 225px;
}

#picture_CV:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.contact_section {
    padding: 34px 48px 30px 47px;
}

.contact {
    margin-bottom: 18px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: var(--text-color);
}

.about_section {
    padding: 34px 48px 51px 45px;
    font-size: 15px;
    text-align: justify;
    font-family: Verdana, sans-serif;
    letter-spacing: 2px;
    color: var(--text-color);
}

.hobbies_section {
    padding: 30px 63px 39px 63px;
    text-align: center;
}

.hobbies {
    font-size: 50px;
    color: var(--icon-color);
}

.hobbies_footer {
    position: absolute;
    bottom: 0;
    width: 32.3%;
}


/* Right side */
.right_side_panel {
    background-color: var(--background-color-right);
    width: 67.5%;
    border-top: 2px solid var(--border-color-right);
    border-bottom: 2px solid var(--border-color-right);
    border-right: 2px solid var(--border-color-right);
}

.firstname {
    font-size: 60px;
    font-family: 'Roboto', sans-serif !important;
    color: var(--background-color-left);
}

.lastname {
    font-size: 75px;
    font-family: 'Darker Grotesque', sans-serif !important;
}

.title_section {
    font-size: 1.96em;
    font-weight: bold;
    font-family: Arial, sans-serif;
    margin-top: 13px;
    margin-bottom: 127px;
    color: var(--text-color);
}

.title_section > p {
    margin-bottom: 0;
    line-height: 1.35em;
}

.hline_small {
    width: 78px;
    height: 0;
    border: 1px solid var(--background-color-left);
    margin-left: 1px;
}

.hline_large {
    width: 96%;
    height: 0;
    border: 1px solid var(--background-color-left);
    margin-top: 11px;
}

.subtitle_section {
    margin-top: 36px;
}

.subtitle_icon {
    font-size: 41px;
    color: var(--background-color-left);
}

.subtitle_text {
    padding-top: 26px !important;
    font-size: 1.96em;
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
}

.formation_section, .experience_section {
    margin-top: 46px;
    margin-left: 2px;
    color: var(--text-color-light);
}

.dot_border_actif {
    width: 15px;
    height: 15px;
    display: inline-flex;
    border: solid 2px;
    border-radius: 50%;
    color: var(--background-color-left);
}

.dot_border {
    display: inline-flex;
    border: solid 2px;
    border-radius: 50%;
    color: var(--background-color-left);
    margin-right: 4px;
}

.dot {
    height: 7px;
    width: 7px;
    background-color: var(--background-color-left);
    border-radius: 50%;
    display: inline-block;
    margin: auto;
}

.date {
    padding-left: 13px;
    display: inline-flex;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 1.16em;
    line-height: 20px;
}

.description_education {
    margin-top: 2px;
    margin-bottom: 14px;
}

.description_education h1, .description_experience h1 {
    font-family: Arial, sans-serif;
    margin-bottom: 0 !important;
    text-transform: uppercase;
}

.description_education h2, .description_experience h2 {
    font-size: 16px;
    font-family: Arial, sans-serif;
    margin-top: 9px;
    margin-bottom: 7px;
    font-weight: normal;
}

.description_education p {
    font-size: 15px;
    font-family: Verdana, sans-serif;
    letter-spacing: 0.5px;
}

.recommandation_section {
    margin-top: 34px;
    color: var(--text-color-light);
}

.info_recommandation._2 {
    margin-left: 5px;
}

.info_recommandation h1 {
    font-size: 16px;
    font-family: Arial, sans-serif;
    margin-bottom: 7px;
    text-transform: uppercase;
}

.info_recommandation h2 {
    font-size: 16px;
    font-family: Arial, sans-serif;
    margin: 0 0 4px 0;
}

.info_recommandation p {
    font-size: 16px;
    font-family: Arial, sans-serif;
}
